body {font-family:'NotoSans', Dotum, Helvetica,"Apple SD Gothic Neo",Sans-serif !important;font-size:14px; line-height:1.6; color: #333; font-weight:400;}

@media (max-width:1300px) {
  body {font-size:12px;}
}

a {text-decoration: none;}
.link-item {text-decoration: underline;color:rgb(52, 143, 226)}
.link-contact {color:#333;}

.pic-wrap {width:35px;}
.pic-wrap .img-box {width:100%; padding-top:100%; border-radius: 100%;}

.app-header-fixed .app-header {height:50px;}
.app-header .navbar-nav .navbar-item .navbar-link.icon i {font-size:20px;}
.app-header .navbar-nav .navbar-item .navbar-link.profile {padding:5px 15px;}
.navbar-nav .pic-wrap {margin-right:10px;}

/*.app-sidebar .menu .menu-profile .menu-profile-cover {background-image:url(https://static.econtents.co.kr/_img/pwe/main_bg5.jpg)}*/
.app-sidebar .menu .menu-header {font-size:12px;}
.app-sidebar .menu hr + .menu-header {padding:3px 20px;}
.app-sidebar .menu .menu-item .menu-icon {margin-right:5px;}
.app-sidebar .menu .menu-item .menu-link .menu-text {font-weight:500;}
.app-sidebar .menu .menu-profile .menu-profile-image {height:auto; width:45px;}
.app-sidebar .menu .menu-profile .menu-profile-image .pic-wrap {width:100%;}
.app-sidebar-minified:not(.app-without-sidebar) .app-sidebar:not(.app-sidebar-end) .menu .menu-item .menu-link {padding: 15px 20px;}
.app-sidebar-minified:not(.app-without-sidebar) .app-sidebar:not(.app-sidebar-end) .menu .menu-item .menu-link .menu-text {display:none;}
.app-sidebar .menu .menu-item .menu-submenu._active {display:block;}

.breadcrumb .breadcrumb-item * {font-size:12px; font-weight:400; white-space: nowrap; display:inline-block; color:rgb(108, 117, 125) !important;}
.breadcrumb .breadcrumb-item:last-child * {font-weight:700; color:#2d353c !important;}

.table {text-align:center; vertical-align: middle}
.table th,
.table td {padding:8px 3px;}
.table thead th {font-size:12px;}
.table .dec {text-align:left; width:100%;margin:0;}
.table .ellip {text-align:left; }
.table .badge {display:inline-block;width:100%;}
.table .img-box {background-color:#f1f1f1}
.table .action-link {margin-right:5px;}
.table .action-link:last-child {margin-right:0;}

.sort {display:inline-block; vertical-align: middle; margin-left:5px;text-decoration: none;}
.sort .fas {display:block;position:relative; color:#999;}
.sort .fas:before {content: "\f0dc"; }
.sort._asc .fas:before {content: "\f0dd"; }
.sort._desc .fas:before {content: "\f0de"; }
.sort._asc .fas:before,
.sort._desc .fas:before {color:rgb(255, 91, 87)}

.pagination {justify-content: center;}
.progress {width:100%; height:15px;}

.fieldset {padding-bottom:30px;}
.fieldset:last-child {padding-bottom:0;}
legend {font-size:1em !important; margin-bottom:10px !important; color:#32BEBE; font-weight:700;position:relative}
legend .txt {background: #fff; padding-right:10px; display:inline-block; position:relative; z-index: 1}
legend:before {content:""; display:block; width:100%; height:1px; background:#32BEBE; position:absolute; left:0; top:50%; transform: translate(0, -50%)}

.btn-right {display:flex; justify-content: flex-end;}
.btn-right > li {margin-right:5px;}
.btn-right > li:last-child {margin-right:0;}
.btn-right .btn {min-width:60px;}

.row {margin:0 -10px;}
.row > * {padding:0 10px;}
.row > hr {width:calc(100% - 20px); margin-left:10px; margin-right:10px;}

.form-dl {display:flex;align-items: stretch; margin-bottom:10px;}
.form-dl dt {width:100px; text-align: right; padding-right:5px; font-size:12px;}
.form-dl dd {width:calc(100% - 100px);padding-left:5px;}
.form-dl dd.flex {flex-wrap:nowrap}
.form-dl dd.flex .txt {padding-left:5px;}
.form-dl .form-label,
.form-dl .dec {display:block; line-height:1; padding:10px 0;}
.form-dl .editor-wrap {padding:10px 0;}

input[readonly] {background:#e9ecef;}
input[readonly]:focus-visible {outline:0;}
textarea {height:150px;width:100%;}
#editor {height:300px;}
.ck-editor__editable {min-height: 400px;}
.ck-content { font-size: 14px;font-family:'NotoSans' }
.todo-list {padding-left:25px;}
.editor-wrap .todo-list__label [type=checkbox] {float: left;margin-left: -2em;border-radius: 0.25em;--bs-form-check-bg: var(--bs-component-bg);width: 1.5em;height: 1.5em;margin-top: 0;vertical-align: top;background-color: var(--bs-form-check-bg);background-image: var(--bs-form-check-bg-image);background-repeat: no-repeat;background-position: center;background-size: contain;border: var(--bs-border-width) solid var(--bs-border-color);-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-print-color-adjust: exact;print-color-adjust: exact;pointer-events: none;filter: none;opacity: .5;}
.editor-wrap .todo-list__label [type=checkbox]:checked {--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");background-color: #32a932;border-color: #32a932;}
.todo-list__label :checked + .todo-list__label__description {text-decoration: line-through}

._error {border-color:#ff5b57 !important; }
._error:focus {box-shadow: 0 0 0 0.25rem rgba(255, 91, 87, 0.25) !important;}

.bootstrap-timepicker-widget table {table-layout: auto;}
.bootstrap-timepicker-widget table tbody tr td .bootstrap-timepicker-hour,
.bootstrap-timepicker-widget table tbody tr td .bootstrap-timepicker-meridian,
.bootstrap-timepicker-widget table tbody tr td .bootstrap-timepicker-minute,
.bootstrap-timepicker-widget table tbody tr td .bootstrap-timepicker-second {width: 40px;height: calc(1.5em + 0.875rem + 2px);border: 1px solid var(--bs-component-dropdown-border-color);padding: 6px;background: 0 0;color: var(--bs-component-color);font-weight: 600;box-shadow: none;transition: all .2s linear;border-radius: 4px;}

[data-selector=fileUpload] .temp-img {display:none;}
[data-selector=fileUpload] .temp-img._active {display:block; margin-top:10px;}

.label-ul > li {display:inline-block;margin:5px 0; margin-right:10px;}
.label-ul > li:last-child {margin-right:0;}

.slider-container {padding:0 30px;width:100%;}
.slider-container .range-min,
.slider-container .range-max {padding-top:0; top:50%; transform: translate(0, -50%)}
.slider-container .range-bar {height:15px;}
.slider-container .range-handle {top:50%; transform: translate(0, -50%)}
.slider-container .range-quantity {background: linear-gradient( to right, #F5365C, #FF8200 );border-radius: 15px 0 0 15px;}

.req {position:relative; padding-right:10px !important;}
.req:after{content:"*"; color:#ff5b57; position:absolute; right:0; top:0;}
.form-dl .form-label.req:after{padding:10px 0;}
.form-dl .tip {display:inline-block; color:#ff5b57; font-weight:700;}

/*sidebar*/
.depth1._active .menu-header {color:#fff;}

/*.page-login*/
.page-login .planworks {width:100%;position:relative; padding-left:0; display:flex; flex-wrap:wrap; justify-content:center; color:#FE5521}
.page-login .planworks .txt {width:100%; text-align:center; display:none;}
.page-login .planworks img {max-width:120px; margin-bottom:10px;}

/*.page-issue*/
.status-dl {margin-right:20px; display:inline-flex; align-items: center;}
.status-dl:last-child {margin-right:0}
.status-dl dt:after {content:":"; margin:0 10px;}
.status-dl dt {align-items: center;}
.status-dl dd {margin-bottom:0;align-items: center;}
.status-dl dd ul {margin:0;}
.status-dl dd ul > li {display:inline-block; margin-right:5px;}
.status-dl dd ul > li:after {content:"/"; margin:0 5px 0 10px;}
.status-dl dd ul > li {margin-right:0;}
.status-dl dd ul > li:last-child:after {display:none;}
.status-dl .badge {width:40px;display:inline-block; vertical-align: text-bottom}

.panel .detail-body {padding:0;}
.detail-container .row {border-bottom:1px solid #ced4da;margin:0;}
.detail-container .row:last-child {border-bottom:0}
.detail-container .form-dl {margin-bottom:0;padding:0;}
.detail-container .form-dl > dt,
.detail-container .form-dl > dd {border-right:1px solid #ced4da; padding:10px; text-align: left;}
.detail-container .form-dl > dt {background: #f1f1f1}
.detail-container .row .form-dl:last-child > dd {border-right:0}

.comment-flex {align-items: flex-end; margin:0 -5px; flex-wrap:nowrap; justify-content: space-between}
.comment-flex .col-editor,
.comment-flex .col-btn {padding:0 5px;}
.comment-flex .col-editor {width:calc(100% - 60px);}
.comment-flex .col-btn {width:60px;}
.comment-flex .col-btn .btn {margin-bottom:5px;}
.comment-flex .col-btn .btn:last-child {margin-bottom:0;}

.timeline {background:#dee2e6; padding-top:10px;}
.timeline:before {left:120px;}
.timeline .timeline-item {padding:0; padding-bottom:10px;}
.timeline .timeline-item:last-child {padding:0;}
.timeline .timeline-icon {width:20px; left:110px;top:20px;}
.timeline .timeline-time {width:85px; top:0;}
.timeline .timeline-content {max-width:100%; margin-left:160px;}
.timeline .timeline-header {display:flex; justify-content: space-between; padding:10px 15px 5px;}
.timeline .timeline-header + .timeline-body {padding:10px 15px; padding-top:0;}
.timeline .timeline-header .btn-right > li {margin-right:10px;}
.timeline .timeline-header .btn-right > li:last-child {margin-right:0;}
.timeline .timeline-header .username {position:relative; padding-left: 35px;}
.timeline .timeline-header .username .pic-wrap {width:30px;position:absolute; left:0; top:50%; transform: translate(0, -50%)}
.timeline .timeline-header .username .name {display:block; padding:8px 0;}
.timeline-item .update-wrap,
.timeline-item._modify .editor-wrap {display:none;}
.timeline-item._modify .update-wrap {display:block;}

/*page-member*/
.card-profile {border-radius: 4px 4px 0 0; overflow: hidden}
.card-profile .top-container {padding-top:50.15%; height:0;background:url(https://static.econtents.co.kr/_img/pwe/main_bg5.jpg) center top no-repeat; background-size: cover;position:relative}
.card-profile .top-container:before {content:""; display:block; width:100%;height:100%; background:rgba(0, 0, 0, 0.4);position:absolute; left:0; top:0;}
.card-profile .top-container .logo {max-width: 220px;width:100%;position:absolute; left:50%; top:50%; transform: translate(-50%, -50%)}
.page-member .profile-wrap {max-width:100px; border:1px solid #ced4da; margin-top:10px;}
.page-member.type-update .panel {margin-bottom:0;}
.page-member .row-flex {align-items: stretch}
.page-member .card-profile {height:100%;}
.page-member .card-profile .profile-wrap {margin-top:-50%; border:0; z-index:1;position:relative}

/*page-project*/
.fieldset.dotcom {display:none;}
.fieldset.dotcom._active {display:block;}
.rowdepth-container {padding-right: 80px; padding-bottom:20px; position:relative}
.rowdepth-container:after {content:""; display:block ;height:1px; background:rgba(0, 0, 0, 0.175); position:absolute; left:10px; right:10px; bottom:10px;}
.rowdepth-container .btn-right {position:absolute; right:0; bottom:20px; width:60px;}


.login.login-with-news-feed .news-feed .news-caption .caption-title {display:flex; align-items: center;}
.login.login-with-news-feed .news-feed .news-caption .caption-title .txt {display:inline-block;line-height:1;}
.login.login-with-news-feed .news-feed .news-caption .caption-title img {height:35px;}
.theme-green {
  --bs-app-theme: #32a932;
  --bs-app-theme-rgb: 50, 169, 50;
  --bs-app-theme-color: #FFFFFF;
  --bs-app-theme-color-rgb: 255, 255, 255;
  --bs-app-theme-hover: #267f26;
  --bs-app-theme-hover-border-color: #267f26;
  --bs-app-theme-active: #267f26;
  --bs-app-theme-active-border-color: #267f26;
  --bs-app-theme-disabled: #65bf65;
  --bs-app-theme-disabled-border-color: #65bf65;
}

.btn-green {
  --bs-btn-bg: rgba(254, 85, 33, 0.8);
  --bs-btn-border-color: rgba(254, 85, 33, 0.8);
  --bs-btn-hover-bg: rgba(254, 85, 33, 1);
  --bs-btn-hover-border-color: rgba(254, 85, 33, 1);
  --bs-btn-focus-shadow-rgb: 81, 182, 81;
  --bs-btn-active-bg: rgba(254, 85, 33, 1);
  --bs-btn-active-border-color: rgba(254, 85, 33, 1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #65bf65;
  --bs-btn-disabled-border-color: #65bf65;
}